In [2]:
import numpy as np
import pandas as pd

In [7]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_Ã­ndex = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [10]:
hier_index = list(zip(outside,inside))

In [11]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [17]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [34]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [35]:
df

             A         B
G1 1 -1.389283 -0.238371
   2 -0.328839 -0.501087
   3 -1.423228 -0.382295
G2 1 -0.910737  1.219480
   2  0.341295 -2.785432
   3 -0.069833  3.145637

In [37]:
df.loc['G1'].loc[1]

A   -1.389283
B   -0.238371
Name: 1, dtype: float64

In [39]:
df.index.names = ['Grupo','Numero']

In [40]:
df

                     A         B
Grupo Numero
G1    1      -1.389283 -0.238371
      2      -0.328839 -0.501087
      3      -1.423228 -0.382295
G2    1      -0.910737  1.219480
      2       0.341295 -2.785432
      3      -0.069833  3.145637

              A         B
Grupo
G1    -1.389283 -0.238371
G2    -0.910737  1.219480