# Exercícios - Salarios de São Francisco

Bem-vindo a um exercício rápido para você praticar suas habilidades de pandas! Vamos usar o [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) da Kaggle! Basta acompanhar e completar as tarefas descritas em negrito abaixo. As tarefas se tornarão cada vez mais difíceis.

** Importe o pandas como pd.**

In [2]:
import pandas as pd

In [3]:
sal = pd.read_csv('Salaries.csv', sep=',')

In [7]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Leia o arquivo Salaries.csv como um DataFrame chamado "sal". **

** Verifique o "head" do DataFrame. **

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use o método .info () para descobrir quantas entradas existem. **

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

** Qual é o "BasePay" médio? **

In [9]:
sal['BasePay'].mean()

66325.44884050643

66325.44884050643

** Qual é a maior quantidade de "OvertimePay" no conjunto de dados? **

In [10]:
sal['OvertimePay'].max()

245131.88

245131.88

** Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas). **

In [15]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)? **

In [18]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [12]:
sal[sal['TotalPayBenefits'] == (sal['TotalPayBenefits'].max())]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** Qual o nome da pessoa mais bem paga (incluindo benefícios)? **

567595.43

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga? **

In [13]:
sal[sal['TotalPayBenefits'] == (sal['TotalPayBenefits'].min())]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)? **

In [74]:
group = sal.groupby('Year')
group.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [68]:
group['BasePay']

group.mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** Quantos títulos de trabalho únicos existem? **

In [28]:
sal['JobTitle'].nunique()

2159

In [30]:
sal.sort_values(by='JobTitle', inplace=True)

In [48]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** Quais são os 5 principais empregos mais comuns? **

In [31]:
group = sal.groupby('JobTitle')

In [33]:
group.sum().limit

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
JobTitle,,,,,,,,,,
ACCOUNT CLERK,2135990,3593966.94,30975.67,30017.53,0.00,3654960.14,3654960.14,166913,0.0,0.0
ACCOUNTANT,120796,233215.86,0.00,3930.48,0.00,237146.34,237146.34,10055,0.0,0.0
ACCOUNTANT INTERN,1350184,1379167.87,1172.67,13183.12,0.00,1393523.66,1393523.66,96528,0.0,0.0
"ACPO,JuvP, Juv Prob (SFERS)",135284,62290.78,0.00,0.00,17975.59,62290.78,80266.37,2014,0.0,0.0
ACUPUNCTURIST,18379,66374.40,0.00,1220.00,0.00,67594.40,67594.40,2011,0.0,0.0
ADMINISTRATIVE ANALYST,1771924,5899513.46,0.00,48289.22,0.00,5947802.68,5947802.68,187023,0.0,0.0
ADMINISTRATIVE ANALYST II,41084,118747.42,0.00,4246.65,0.00,122994.07,122994.07,4022,0.0,0.0
ADMINISTRATIVE ANALYST III,22041,185397.03,0.00,0.00,0.00,185397.03,185397.03,4022,0.0,0.0
ADMINISTRATIVE ENGINEER,47818,1209131.61,0.00,70482.69,0.00,1279614.30,1279614.30,20110,0.0,0.0
ADMINISTRATIVE SERVICES MANAGER,47331,226665.10,0.00,4381.64,0.00,231046.74,231046.74,6033,0.0,0.0
"ADMINISTRATOR, SFGH MEDICAL CENTER",37,245124.44,0.00,12000.00,0.00,257124.44,257124.44,2011,0.0,0.0
AFFIRMATIVE ACTION SPECIALIST,104063,409063.90,0.00,220.00,0.00,409283.90,409283.90,12066,0.0,0.0
AGRICULTURAL INSPECTOR,46773,106548.20,0.00,624.00,0.00,107172.20,107172.20,4022,0.0,0.0
"AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI",34812,1927.50,0.00,0.00,0.00,1927.50,1927.50,2011,0.0,0.0
"AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS",30201,15420.00,0.00,0.00,0.00,15420.00,15420.00,2011,0.0,0.0
AIRPORT COMMUNICATIONS OPERATOR,389192,1826364.85,273413.88,93021.13,0.00,2192799.86,2192799.86,54297,0.0,0.0
AIRPORT COMMUNICATIONS SUPERVISOR,24437,173171.65,510.27,2678.08,0.00,176360.00,176360.00,4022,0.0,0.0
AIRPORT ECONOMIC PLANNER,102945,1405892.68,0.00,1550.00,0.00,1407442.68,1407442.68,26143,0.0,0.0
AIRPORT ELECTRICIAN,133422,1623307.42,126702.41,98023.25,0.00,1848033.08,1848033.08,34187,0.0,0.0
AIRPORT ELECTRICIAN SUPERVISOR,12626,208407.45,5702.27,20067.80,0.00,234177.52,234177.52,4022,0.0,0.0
AIRPORT EMERGENCY PLANNING COORDINATOR,32064,151731.87,0.00,0.00,0.00,151731.87,151731.87,4022,0.0,0.0
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR,4377,118978.52,0.00,9555.65,0.00,128534.17,128534.17,2011,0.0,0.0
AIRPORT NOISE ABATEMENT SPECIALIST,47378,98217.45,0.00,777.00,0.00,98994.45,98994.45,4022,0.0,0.0
AIRPORT OPERATIONS SUPERVISOR,128667,1017128.06,71408.13,50431.57,0.00,1138967.76,1138967.76,24132,0.0,0.0
AIRPORT POLICE SERVICES AIDE,3848510,9570424.91,1024561.05,649311.19,0.00,11244297.15,11244297.15,376057,0.0,0.0
AIRPORT PROPERTY SPECIALIST I,197341,994914.51,0.00,14949.45,0.00,1009863.96,1009863.96,26143,0.0,0.0
AIRPORT SAFETY OFFICER,639160,2664533.32,201076.71,118360.54,0.00,2983970.57,2983970.57,80440,0.0,0.0
ANESTHETIST,365285,2603471.10,51471.78,151688.63,0.00,2806631.51,2806631.51,50275,0.0,0.0
ANIMAL CARE ASSISTANT SUPERVISOR,22447,55018.51,0.00,1280.11,0.00,56298.62,56298.62,2011,0.0,0.0
ANIMAL CARE ATTENDANT,355431,581173.65,17895.26,13861.22,0.00,612930.13,612930.13,28154,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
Wastewater Control Inspector,2293094,1932856.41,69299.44,16045.92,725797.58,2018201.77,2743999.35,52337,0.0,0.0
Water & Power Maint Sprv 1,747403,857242.89,73318.89,16867.84,318639.21,947429.62,1266068.83,18117,0.0,0.0
Water Conservation Admin,963430,1346892.56,0.00,22737.61,536123.88,1369630.17,1905754.05,24156,0.0,0.0
Water Const&Main Supt,349514,541548.27,109145.92,141725.22,190002.80,792419.41,982422.21,10064,0.0,0.0
Water Meter Repairer,1674767,1184714.16,27933.29,3619.48,488614.88,1216266.93,1704881.81,36234,0.0,0.0
Water Meter Shop Supervisor 1,220316,142268.43,0.00,6632.60,56926.79,148901.03,205827.82,4027,0.0,0.0
Water Operations Analyst,2891410,3494639.59,10267.56,63676.45,1150337.12,3568583.60,4718920.72,70453,0.0,0.0
Water Quality Tech III,2194446,1664188.36,41098.94,138.08,651844.23,1705425.38,2357269.61,48312,0.0,0.0
Water Quality Technician,4165097,2090246.50,87748.64,26321.69,822602.04,2204316.83,3026918.87,64448,0.0,0.0
Water QualityTech I/II,5272468,4286023.07,218157.43,21021.04,1818551.42,4525201.54,6343752.96,138866,0.0,0.0
Water Service Inspector,7124024,7077495.37,162454.00,225583.36,2648936.86,7465532.73,10114469.59,165067,0.0,0.0
Watershed Forester,497882,591507.03,0.00,8972.00,244715.01,600479.03,845194.04,12078,0.0,0.0
Watershed Keeper,7130825,4697588.12,288323.40,163081.32,2054490.75,5148992.84,7203483.59,152989,0.0,0.0
Watershed Keeper Supervisor,668344,596307.68,42539.77,35957.28,245953.23,674804.73,920757.96,16103,0.0,0.0
Watershed Worker (Seasonal),9075079,861416.98,2300.44,0.00,32425.69,863717.42,896143.11,173116,0.0,0.0
Welder,3306402,2314036.66,994602.90,102816.57,915334.93,3411456.13,4326791.06,76492,0.0,0.0
Welfare Fraud Investigator,1434316,1404490.16,0.00,0.00,486968.49,1404490.16,1891458.65,32209,0.0,0.0
Wharfinger 1,292387,152218.06,6874.27,0.00,54773.00,159092.33,213865.33,6039,0.0,0.0
Wharfinger 2,866249,735913.11,2017.69,13125.22,296189.96,751056.02,1047245.98,20129,0.0,0.0
Window Cleaner,4574904,3302669.73,951.07,79882.38,1398397.16,3383503.18,4781900.34,100648,0.0,0.0
Window Cleaner Supervisor,269521,227441.25,497.37,4598.86,93114.15,232537.48,325651.63,6039,0.0,0.0
Wire Rope Cable Maint Mechanic,2560565,1844258.02,1204820.54,317267.22,798777.25,3366345.78,4165123.03,60390,0.0,0.0
Wire Rope Cable Maint Sprv,222455,278255.24,247340.77,83505.15,117253.81,609101.16,726354.97,6039,0.0,0.0
Worker's Comp Supervisor 1,1321638,964142.15,0.00,21308.01,360307.28,985450.16,1345757.44,28183,0.0,0.0
Worker's Compensation Adjuster,6855566,5354882.63,0.00,65563.34,2077339.54,5420445.97,7497785.51,148965,0.0,0.0
X-RAY LABORATORY AIDE,585054,1239284.10,92851.81,38216.98,0.00,1370352.89,1370352.89,52286,0.0,0.0
X-Ray Laboratory Aide,9889062,4608638.71,348376.71,125378.85,1869718.05,5082394.27,6952112.32,201304,0.0,0.0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",23392,52609.91,0.00,1022.96,0.00,53632.87,53632.87,2011,0.0,0.0
Youth Comm Advisor,398711,156311.83,0.00,9345.40,74816.97,165657.23,240474.20,8052,0.0,0.0
ZOO CURATOR,18779,43148.00,0.00,23538.56,0.00,66686.56,66686.56,2011,0.0,0.0

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?) **

In [100]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

202

** Quantas pessoas têm a palavra Chefe em seu cargo? (Isso é bastante complicado) **

In [101]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [103]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

627

** Bônus: Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário? **

In [108]:
sal['tamanho da string'] = sal['JobTitle'].apply(len)

In [109]:
sal[['tamanho da string','TotalPayBenefits']].corr()

                   tamanho da string  TotalPayBenefits
tamanho da string           1.000000         -0.036878
TotalPayBenefits           -0.036878          1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000