In [198]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('exports.csv')

In [171]:
df['c'] = 1

In [172]:
group = df.groupby('(n.shipCountry)')

group.sum()

In [166]:
bool = (df['(n.shipCountry)'] == '28023') | (df['(n.shipCountry)'] == '78000')

In [167]:
df[bool] = np.nan

In [183]:
df.dropna(axis=0,inplace=True)

In [184]:
group.sum()

                   c
(n.shipCountry)
Argentina         16
Austria           40
Belgium            7
Canada            30
Denmark           18
Finland           22
France            19
Germany          122
Ireland           19
Italy             28
Mexico            28
Norway             6
Poland             7
Portugal          13
Sweden            37
Switzerland       18
UK                56
USA              122
Venezuela         46

In [199]:
dd = pd.DataFrame(group.sum(),index=hier_index,columns=['a','b'])

NameError: name 'hier_index' is not defined

In [193]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, Argentina to Venezuela
Data columns (total 1 columns):
c    19 non-null int64
dtypes: int64(1)
memory usage: 304.0+ bytes

In [194]:
dd

                   c
(n.shipCountry)
Argentina         16
Austria           40
Belgium            7
Canada            30
Denmark           18
Finland           22
France            19
Germany          122
Ireland           19
Italy             28
Mexico            28
Norway             6
Poland             7
Portugal          13
Sweden            37
Switzerland       18
UK                56
USA              122
Venezuela         46

In [177]:
data = dict(
        type = 'choropleth',
        locations = dd['(n.shipCountry)'],
        z = df['c'],
        text = df['(n.shipCountry)'],
        colorbar = {'title' : 'GDP Billions US'},
      )

KeyError: '(n.shipCountry)'